*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* common class */
.btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 12px 16px;
    /* text-align: center; */
    
}


/* navber section  */
#navber-secton{
   padding: 24px 120px;
}
#nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    justify-content: space-between;
    gap: 32px;
    text-decoration: none;
    color: black;
}
/* Banner Section */
#Banner-Section{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Banner-heading h4{
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 16px;
    background-color: white;
    color: #469165;
    border: none;
    border-radius: 100px;
}
#Banner-heading h1{
    font-size: 72px;
    line-height: 70px;
    text-transform: capitalize;
    color: white;
    padding-bottom: 16px;
}
#Banner-heading p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}
#button .button{
    border: 1px solid white;
    background-color: transparent;
    margin: 16px;
}

/*  Notes Section */
#Notes-Section{
    padding-top: 120px;
  
}
#notes{
    text-align: center;
    margin: 0 80px;
}
.heading h1{
    font-size: 44px;
    padding-bottom: 25px;
    text-transform: capitalize;
}
.heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
#card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
}
.card-box{
    box-shadow: 5px 5px 10px #627382;
        padding: 30px 24px;
        border-radius: 8px;


}
.icon-bd{
    background-color: #F95555;
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 5px #627382fe;
}
.card-box h3{
    font-size: 20px;
    font-weight: 400px;
    color: #001931;
    padding-bottom: 16px;
    text-transform: capitalize;
}
.card-box p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
 /* brain section  */

#bran-section{
    margin: 0px 80px;
    margin-bottom: 80px;
}
#bran-contener{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}
#heading-section .para{
    font-size: 16px;
    line-height: 16px;
    color: #469165;
    padding-bottom: 16px;
    text-transform: uppercase;
}
#heading-section h1{
    font-size: 44px;
    color: #001931;
    padding-bottom: 16px;
    text-transform: capitalize;
}
#heading-section p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
    margin-right: 150px;
}
.icon-txt{
    font-size: 16px;
    padding-bottom: 16px;
    color: #001931;
}
 /* Early accesss section  */
 #access-section{
    margin: 0 80px;
    margin-bottom: 80px;
 }
 #access-conteiner{
    background-color: #F7F6F2;
    padding: 80px;
    text-align: center;

 }
 .title h2{
    font-size: 40px;
    color: #001931;
    /* padding-bottom: 16px; */
    text-transform: capitalize;
 }
 .title p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-top:  16px;
    padding-bottom: 24px;
    /* padding-bottom: 24px; */
 }
  /* footer section  */
  #footer-section{
    margin: 0 80px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 80px;
    background-color: #001931;
  }
  #footer-conterinar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 120px 0px 80px 0px;

  }
  .link p{
    font-size: 20px;
    color: white;
    line-height: 24px;
    padding-bottom: 16px;
  }
  .social-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    width: 5px;
    font-size: 24px;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 20px;
    border: none;
    border-radius: 50%;
  }