*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common class */
.btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 12px 16px;
    /* text-align: center; */
    
}


/* navber section  */
#navber-secton{
   padding: 24px 120px;
}
#nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    justify-content: space-between;
    gap: 32px;
    text-decoration: none;
    color: black;
}
/* Banner Section */
#Banner-Section{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}